* {
	color: #182153;
	font-family: Verdana, Verdana, Geneva, sans-serif
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
padding: 0px;
}

h1, h2, h3, p {
	color: #182153;
	font-family: Verdana, Verdana, Geneva, sans-serif
}

h1 {
	font-size: 26px;
	margin-bottom: 5px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}

img {
	width: 100%;
}

div {
	margin: 0px;
	padding: 0px;
}

section {
	width: 100%;
}

.section-title h2 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 60px;
	margin-bottom: 40px;
}

.section-title-inverted {
	background-color: #182153;
	padding-top: 20px;
	padding-bottom: 20px;
}

.section-title-inverted h2 {
	font-size: 20px;
	font-weight: bold;
	color: #ffffff;
	margin-top: 20px;
	margin-bottom: 20px;
}

.no-left-right-margin {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

/*header: navbar*/
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}

.navbar-default .navbar-brand {
	font-size: 26px;
	color: #182153;
	font-family: Verdana, Verdana, Geneva, sans-serif
}

.navbar-default .navbar-nav>li>a {
	position: relative;
	top: 5px;
	font-size: 16px;
	color: #182153;
	font-family: Tahoma, Geneva, sans-serif
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #182153;
}

#menu-bar {
	margin-bottom: 0px;
}


/*section: overview*/
#overview {
	background-image: url("../img/background.jpg");
	padding-top: 10%;
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 0px;
	
}

#overview-row {
  overflow: hidden;
}

#info {
	padding-bottom: 100%;
  margin-bottom: -100%;
  background-color: #E5E8E8;
}

#photo {
	padding-bottom: 100%;
  margin-bottom: -100%;
}

#my-info-div {
	padding: 10%;
}

/*section: social bar*/
#social {	
	padding-left: 7%;
	padding-right: 7%;
	background-color: #E5E8E8;
}

#social-div {
	background-image: url("../img/socialBar.jpg");
}

/*section: introduction*/
#introduction {
	background-color: #E5E8E8;
	padding-top: 30px;
	padding-bottom: 30px;
}

/*section: experience*/
/*section: education*/

/*use timeline*/

/*section: projects*/
.project-content-div h3 {
	font-size: 18px;
	font-variant: small-caps;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}

.project-content-div summary {
	font-size: 15px;
}

.project-content-div {
	padding-left: 15px;
	padding-right: 15px;
}

/*section: skills*/
#skills {
	margin-top: 30px;
}

#skills h3 {
	color: #182153;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 17px;
}

#skills p {
	color: #182153;
}

#skills-content {
	margin-top: 1px;
	background-image: url("../img/background.jpg");
	padding-top: 50px;
	padding-bottom: 50px;
}

#skills-container {
	width: 84%;
}
.skill-set {
	text-align: center;
	padding: 20px;
}

.skill-set-odd {
	background: #E5E8E8;
}

.skill-set-even {
	background: #E5E8E8;
	opacity: 0.7;
}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
	#skill3 {
		opacity: 0.7;
	}

	#skill4 {
		opacity: 1;
	}
}

.skill-list-div {
	text-align: left;
	margin-left: 25px; 
	margin-top: 20px;
}

footer {
	padding-left: 25px;
}







