* {
	color: #182153;
	font-family: Verdana, Geneva, sans-serif;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
padding: 0px;
}

h1, h2, h3, p {
	color: #182153;
	font-family: Verdana, Geneva, sans-serif;
}

h1 {
	font-size: 26px;
	margin-bottom: 5px;
}

h2 {
	font-size: 16px;
}

h3 {
	font-size: 16px;
	margin-top: 5px;
	margin-bottom: 5px;
}

p {
	margin-top: 5px;
	margin-bottom: 5px;
}

img {
	width: 100%;
}

div {
	margin: 0px;
	padding: 0px;
}

section {
	width: 100%;
}

/*header: navbar*/
.navbar-default {
  background-color: #ffffff;
  border-color: #ffffff;
}

.navbar-default .navbar-brand {
	font-size: 26px;
	color: #182153;
	font-family: Verdana, Geneva, sans-serif;
}

.navbar-default .navbar-nav>li>a {
	font-size: 18px;
	color: #182153;
	font-family: Verdana, Geneva, sans-serif;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #182153;
}


/*section: overview*/
#overview {
	background-image: url("../img/background.jpg");
	padding-top: 10%;
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
}

#overview-row {
  overflow: hidden;
}

#info {
	padding-bottom: 100%;
  margin-bottom: -100%;
  background-color: #E5E8E8;
}

#photo {
	padding-bottom: 100%;
  margin-bottom: -100%;
}

#my-info-div {
	padding: 10%;
}

/*section: social bar*/
#social {	
	padding-left: 7%;
	padding-right: 7%;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	background-color: #E5E8E8;
}

#social-div {
	background-image: url("../img/socialBar.jpg");
}

/*section: introduction*/
#introduction {
	background-color: #E5E8E8;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0px;
}




