
/*Responsive vertical Timeline*/

.timeline {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.timeline-center-line {
	position: absolute;
	top: 0;
	width: 2px;
	margin-left: -1px;
	height: 100%;
	background: #E5E8E8;
	z-index: -1;
}

.timeline-break-point {
	position: absolute;
	top: 0;
	height: 6px;
	width: 6px;
	margin-left: -3px;
	border-radius: 100%;
	background: #182153;
}

.timeline-article {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin:  50px 0;
}

.timeline-left-container h3, .timeline-right-container h3 {
	margin-top: 0px;
	margin-bottom: 5px;
}

.timeline-left-container h3 {
	font-size: 16px; 
	font-weight: bold;
}

.timeline-right-container h3 {
	font-size: 16px; 
}

/* lg md sm */
@media (min-width: 768px) {
	.timeline-center-line {
		left: 50%;
	}

	.timeline-break-point {
		left: 50%;
	}

	.timeline-content {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.timeline-left-container, .timeline-right-container {
		width: 44%;
	}

	.timeline-left-container {
		float: left;
		/*border: solid 1px;*/
		text-align: right;
	}

	.timeline-right-container {
		float: right;
		/*border: solid 1px;*/
	}
}

/* xs */
@media (max-width: 767px) {
	.timeline-center-line {
		left: 3%;
	}

	.timeline-break-point {
		left: 3%;
	}

	.timeline-content {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.timeline-left-container, .timeline-right-container {
		width: 88%;
	}

	.timeline-left-container {
		float: right;
		/*border: solid 1px;*/
		text-align: left;
		margin-bottom: 10px;
	}

	.timeline-right-container {
		float: right;
		/*border: solid 1px;*/
	}
}





